<!DOCTYPE html>
<html>
  <head>
    <title>PeriodPieceMovies</title>
    <link href="https://fonts.googleapis.com/css?family=Nova+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prosto+One" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <script src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['GM_API_KEY']}"%> />
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
